@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<StudentManagement.Models.Student>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentList</title>
    <style>
        input {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            background-color: white;
        }
    </style>
</head>
<body>
    <p>
        <a asp-action="AddStudent">Add Student</a>
    </p>
    <p>
        <a onclick="show()">Update Student</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Avatar</th>
                <th scope="col">Full Name</th>
                <th scope="col">Class</th>
                <th scope="col">Gender</th>
                <th scope="col">GPA</th>
                <th scope="col"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="so1" style="visibility: hidden">
                <td>
                    <input id="Mssv" type="text" placeholder="20110123" readonly="readonly"></input>

                </td>
                <td>
                    <img src="https://image.thanhnien.vn/w2048/Uploaded/2022/wsxrxqeiod/2021_01_24/nc-01_ecbm.jpg"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                </td>
                <td>
                    <input id="Ten" type="text" placeholder="Nguyen Van A" readonly="readonly"></input>
                </td>

                <td>
                    <input id="Lop" type="text" placeholder="1" readonly="readonly"></input>
                </td>
                <td>
                    <input id="gioTinh" type="text" placeholder="Male" readonly="readonly"></input>
                </td>
                <td>
                    <input id="gpa" type="text" placeholder="3" readonly="readonly"></input>
                </td>
                <td>
                    <a id="edit" style="color:white" class="btn btn-danger" onclick="Edit()">Edit</a>
                    <br />
                    <a style="color:white" class="btn btn-danger" onclick="unvisible()">Delete</a>
                </td>
            </tr>
    </tbody>
    </table>
</body>
<script>
    function show()
    {
         document.getElementById("so1").style.visibility = 'visible'
    }
    function unvisible()
    {
        alert("Do you want to continue ???")
        document.getElementById("so1").style.visibility = 'hidden'
    }
    function Edit()
    {
        var state = document.getElementById("edit").innerHTML
        if ( state === 'Edit') {
            document.getElementById("edit").innerHTML = 'Save'
            document.getElementById("edit").style.backgroundColor = "Green"
            document.getElementById("Mssv").readOnly = false
            document.getElementById("Ten").readOnly = false
            document.getElementById("Lop").readOnly = false
            document.getElementById("gioTinh").readOnly = false
            document.getElementById("gpa").readOnly = false
        }
        else {
            document.getElementById("edit").innerHTML = 'Edit'
            document.getElementById("edit").style.backgroundColor = "Red"
            document.getElementById("Mssv").readOnly = true
            document.getElementById("Ten").readOnly = true
            document.getElementById("Lop").readOnly = true
            document.getElementById("gioTinh").readOnly = true
            document.getElementById("gpa").readOnly = true
        }
    }
</script>
</html>

